body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #84a9da;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: #6c63ff 10px 20px 20px -2px;
}
h1 {
  color: #153448;
}

button {
  background: #948979;
  color: white;
  border: none;
  padding: 10px 20px;
  height: 45px;
  width: auto;
  border-radius: 7px;
 
  
}
button:hover {
  background: red;
  cursor: pointer;
  transition-duration: 4s;
}